
<div style = "width:100%;height:250px;border:1px solid black;background-image:url('http://www.hapdongnews.co.kr/news/photo/201509/3748_879_4544.jpg');background-size:cover;background-repeat:no-repeat;background-position: center center;"">
    
    
</div>