
<div style = "width:100%;height:250px;border:1px solid black;background-image:url('http://www.hapdongnews.co.kr/news/photo/201509/3748_879_4544.jpg');background-size:cover;background-repeat:no-repeat;background-position: center center;">
    
    
</div>

<div>
    <span style="font-size:20px">2013년 5월 10일 뉴라이트 성향의 교학사 교과서가 첫 검정심의 본심사를 통과하였다.
    
    2013년 8월 30일 교학사 교과서가 국사편찬위원회의 검정 심의에 최종 통과하면서 논란에 휩싸였다. 교과서의 일부 내용이 '위키백과'를 표절했다는 의혹과 구글과 네이버 등 인터넷의 사진을 자료사진으로 대거 인용했다는 지적이 제기되면서 도덕성 시비가 일었고 여기에 역사단체들에 의해 기본적인 사실 관계 오류가 100여건 이상 되는 것으로 밝혀짐에 따라 교학사 교과서는 교과서로서 자격을 갖추지 못했다는 질타를 받았다.
    
    2013년 9월 10일 민주당이 교학사 한국사교과서 역사 왜곡 파문과 관련, '역사교과서 친일독재 미화.왜곡 대책위원회'를 꾸리고 본격적인 대응에 나섰다. 위원장은 국회 교육문화체육관광위원회 소속인 유기홍 의원이 맡았고 김상희, 김윤덕, 김태년, 도종환, 박홍근, 박혜자, 배재정, 안민석, 우원식, 유은혜, 정세균, 윤관석, 강창일, 이용섭, 인재근, 이종걸, 설훈 등 17명의 위원이 위촉됐다. 유기홍 대책위원장은 국회 브리핑을 통해 "9월 13일 교육부 장관을 방문해 검정합격 취소를 공식적으로 요청할 계획이며, 같은 날 수요집회에 참석해 위안부 문제에 대한 왜곡 기술을 규탄할 것"이라며 "서남수 교육부 장관이 검정합격 취소를 하지 않을 경우 직무유기 고발 등 법률적 조치를 적극 고려하기로 하고, 부실, 불량, 왜곡 교과서 퇴출을 위한 범국민 서명운동을 학계 및 시민사회와 함께 전개할 것"이라고 경고했다.</span>
</div>



<div style="width:300px">
	<ul id="messages">
        <!-- 1 -->
		<li>
			<div class="infos">
				<img src="http://farm5.staticflickr.com/4136/4817542998_55a7eb8d8b_q.jpg" alt="" title="by tresMunkeys" />
			</div>
			<div class="content">
				<h3>
					Arbaoui Mehdi
					<b>ceo &amp; founder "depot webdesigner"</b>
				</h3>
				<p>
					Etiam iaculis, ipsum sit amet scelerisque dictum, diam justo suscipit mauris, a lacinia odio nulla et tellus. Praesent placerat ipsum sed purus rutrum vel dapibus magna scelerisque. Nulla sit amet orci at metus euismod tincidunt. Etiam <a href="#">http://www.depotwebdesigner.com</a> et nunc eu massa fermentum feugiat.
				</p>
			</div>
		</li>
		<!-- 2 -->
		<li>
			<div class="infos">
				<img src="http://farm3.staticflickr.com/2721/4531285963_cd28f61b16_q.jpg" alt=""  title="by tresMunkeys" />
							</div>
			<div class="content">
				<h3>
					Edmundo I. Jacobi
					<b>webdeveloper</b>
				</h3>
				<p>
					Lorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillumLorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing.
				</p>
			</div>
		</li>

		<!-- 3 -->
		<li>
			<div class="infos">
				<img src="http://farm3.staticflickr.com/2617/3873098259_61c446da22_q.jpg" alt="" title="by tresMunkeys" />
						</div>
			<div class="content">
				<h3>
					Lisa J. Escoto
					<b>webdesigner </b>
				</h3>
				<p>
					Lorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillum in occaecat adipisicing ullamco cillum in occaecat proident commodo in <a href="http://www.google.com">http://www.google.com</a>. 
				</p>
			</div>
		</li>

		<!-- 4 -->
		<li>
			<div class="infos">
				<img src="http://farm4.staticflickr.com/3412/3446830982_c8b55cc7e8_q.jpg" alt="" title="by tresMunkeys" />
				
			</div>
			<div class="content">
				<h3>
					June Schreiber
					<b>CEO &amp; Founder</b>
				</h3>
				<p>
					Phasellus pharetra, libero sed egestas condimentum, ligula nibh cursus turpis, sed convallis odio lorem sit amet ligula. Suspendisse dapibus nibh nec augue placerat eleifend sit amet nec purus. Donec consectetur cursus quam eu bibendum. Nam est nisi, tincidunt mattis luctus sit amet, faucibus luctus odio. Nam placerat mauris libero. Integer fringilla nisl vitae velit lacinia eget sagittis diam feugiat. Ut et scelerisque dolor. Phasellus luctus tellus nec augue laoreet non suscipit orci condimentum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed eros felis, eleifend ut fringilla sit amet, vestibulum eu ligula. In venenatis aliquet tristique. Fusce tempor tincidunt adipiscing. In fermentum tincidunt purus eu tristique. Integer semper, eros et accumsan porta, purus arcu vehicula massa, quis facilisis nibh nisi non mi.
				</p>
			</div>
		</li>

		<!-- 5 -->
		<li>
			<div class="infos">
				<img src="http://farm4.staticflickr.com/3588/3663734351_f9cb5a6a56_q.jpg" alt="" title="by tresMunkeys" />
				<a href="http://twitter.com/webodream" class="sprite twitter">@webodream</a>
				<a href="http://www.facebook.com/groups/115089745169149" class="sprite facebook">depot.webdesigner</a>
				<a href="http://github.com/arbaoui-mehdi" class="sprite github">@arbaoui-mehdi</a>
			</div>
			<div class="content">
				<h3>
					Benita M. Futral
					<b>CEO &amp; Founder</b>
				</h3>
				<p>
					Lorem ipsum non minim Excepteur Duis sunt labore ut laborum sit ullamco sed ex.Lorem ipsum dolor adipisicing ullamco cillum
				</p>
			</div>
		</li>

	</ul>
</div>
<script>
//댓글창
$(function() {
	var $list = $('ul li');
	$list.filter(':first').addClass('animated flipInX');
	setInterval(function() {
		if( $list.filter('.flipInX').index() !== $list.length) {
			$list.filter('.flipInX').removeClass('animated flipInX').next().addClass('animated flipInX');
		}
	}, 400);
});

//차트부분

//차트부분 끝
</script>

<style>
</style>