<center>
  <h3 style="font-family: 'Hanna', serif;"># <%=@id%></h3>
</center>

<script>
  function matrixToArray(str) {
    return str.match(/(-?[0-9\.]+)/g);
  }
</script>
<div id="postlist">
      <%= render(partial: 'postlist', collection: @list) %>
</div>
<%= will_paginate @list %>


<% @list.reverse.take(10).each do |i| %>

<% end %>
