<% @read.get.each do |x| %>
  <%thumbnail = LinkThumbnailer.generate(x["links"][@link_index])%>
  <p style="font-size:1.8em; margin-top:0.8em; margin-left:0.5em; margin-right: 0.5em; font-weight:bold;">
    <%=thumbnail.title%>
  </p>
  <img src="<%=thumbnail.images.first.src.to_s%>" style="width:100%">
  <div style="line-height:2.2em; margin-left:1em; margin-right:1em;">
    <span style="font-size:1.3em">
      <%=simple_format(ReadabilityParser.parse(x["links"][@link_index]).content.to_s.gsub(/<img([^>]*)>/,""))%>
    </span>
  </div>
<% end %>