<button id="btn">on</button>
<script>
$(function(){
  var temp = {
  		html:'test 1...',
  		buttons: { '취소': false, '확인': true },
  		focus: 1,
  		submit:function(e,v,m,f){ 
  		  if (v === true) {
  		    console.log("real true");
  		  } else if (v === false) {
  		    console.log("real false");
  		  }
		  }
  	};
  $('#btn').click(function(){
    $.prompt('test', temp);
  });
});
</script>

<div id="demo"></div>
<script>
var width = (window.innerWidth > 0) ? window.innerWidth : screen.width;
var words = [
  {text: "시사이슈", weight: 13},
  {text: "한국사", weight: 10.5},
  {text: "국정교과서", weight: 9.4},
  {text: "걸그룹", weight: 8},
  {text: "게임", weight: 6.2},
  {text: "패션", weight: 5},
  {text: "연예", weight: 4},
  {text: "정치", weight: 3.5},
  {text: "과학", weight: 2.2}
];
$('#demo').jQCloud(words,{
  width: width,
  height: width,
  classPattern: null,
  colors: ["#800026", "#bd0026", "#e31a1c", "#fc4e2a", "#fd8d3c", "#feb24c", "#fed976", "#ffeda0", "#ffffcc"],
  fontSize: {
    from: 0.1,
    to: 0.02
  }
  /*shape: 'rectangular'*/
});
</script>