<button id="btn">on</button>
<script>
$(function(){
  var temp = {
  		html:'test 1...',
  		buttons: { '취소': false, '확인': true },
  		focus: 1,
  		submit:function(e,v,m,f){ 
  		  if (v === true) {
  		    console.log("real true");
  		  } else if (v === false) {
  		    console.log("real false");
  		  }
		  }
  	};
  $('#btn').click(function(){
    $.prompt('test', temp);
  });
});
</script>