<br>
<button id="btn">Button</button>

<script>
$('#btn').click(function() {
   document.location = "js://aaa";
});
</script>

<script>
var a = '#abc';
var b = /\w/g.a;
console.log(b);
</script>

<script>
  $(function() {
    var a = [['a','b','c'],['c','d','e'],['e','f','g']];
    for (var i = 0 ; i < 3 ; i++)
    {
      var index = a[i].indexOf('c');
      if (index > -1)
      {
        console.log("include");
      }
      else
      {
        console.log("not include");
      }
    }
  });
</script>
