<form action="/main/do_uploading" method="POST">
    태그 : <input type="text" name="main_tag"><br>
    서브 태그 : <input type="text" name="sub_tag1">
     <input type="text" name="sub_tag2">
     <input type="text" name="sub_tag3">
     <input type="text" name="sub_tag4"><br>
    주제 : <input type="text" name="subject"><br>
    이미지url: <input type="text" name="img_url"><br>
    왼쪽선지 : <input type="text" name="left"><br>
    오른쪽선지 : <input type="text" name="right"><br>
    링크 : <input type="text" name="link1"> 
    <input type="text" name="link2">
    <input type="text" name="link3">
    <input type="text" name="link4">
    <input type="text" name="link5">
    <input type="text" name="link6"><br>
    <input type="submit">
</form>