@media screen and (max-device-width:767px)
{
    html, body {
        width: 100%;
        margin: 0px;  
        font-family: Avenir Book;  
    }
    
    //for application drawer
    .for_drawer {
        width: 2em;
        height: 100%;
        position: fixed;
        z-index: 10000;
    }
    
    //for vertical center of contents
    .slide-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    
    .swiper-slide {
        background: white;
        box-shadow: 1px 1px 2px #ABABAB;
    }
    //user info header
    .user_info_simple {
        text-decoration: none;
        color: black;
        width: 100%;
        p {
            margin: 0px;
            font-size: 13px;
            font-family: Avenir Book;
        }
        #username {
            font-size: 14px;
            text-align: center;
        }
        .user_lv_div {
            text-align: center;
            margin: auto;
            margin-bottom: 10px;
        }
    }
    
    
    //main slider
    .main_slider {
        width: 100%;
        height: 200px;
        font-family: Avenir Book;
        
        .tag_box {
            margin-top: 0.5em;
            float: right;
            .tag {
                div {
                    background: #ffffff;
                    margin-right: 0.5em;
                    font-size: 1em;
                    opacity: 0.7;
                    height: 1.5em;
                    //width: 4em;
                    overflow:hidden;
                    text-overflow:clip; 
                    white-space:nowrap;
                    
                }
            }
        }
        .picture{
            width: 100%;
            height: 200px;
            background-size:cover;
            background-repeat:no-repeat;
            background-position: center center;
            //   background: url($image) bottom right;
            //   width: 100%;
            //   height: 100%;
              position: relative;
            //   background-size: 100% auto;
              overflow:hidden;
            .blurry-box{
              width: 120%;
              height: 50%;
            //   background: url($image) right 90em;
              opacity: 0.5;
              content: "";
              position: absolute;
              bottom: 0px;
              background-position: right 12em;
              -webkit-filter: blur(1em);
              -moz-filter: blur(1em);
              -o-filter: blur(1em);
              filter: url(#blur);
              background-size: 100% auto;
              box-sizing: border-box;
              -moz-box-sizng: border-box;
              -moz-box-sizing: border-box;
            }
            .text{
              width: 100%;
              position: absolute;
              bottom: 3em;
              font: 50px ;
              font-weight: 600;
              text-align:center;
            //   color: $text-color;
              z-index: 10;
              margin-right: 1em;
                
            }
            
        }
        .main-background {
            // width: 100%;
            // height: 200px;
            // background-size:cover;
            // background-repeat:no-repeat;
            // background-position: center center;
        }
    }
    
    //recent slider
    .recent-slider {
        width: 90%;
        height: 30px;
    }
    
    //tag slider
    .tag-slider {
        width: 100%;
        height: 300px;
        
        .slide-topic {
            .post_img {
                width: 100%;
                height: 55%;
                // background: #d91818;
            }
            .post_title {
                width: 100%;
                height: 15%;
                font-size: 2em;
                font-weight: bold;
                font-family: Avenir Book;
            }
            .post_tag {
                width: 100%;
                height: 10%;
                //background: yellow;
                .tag {
                    font-family: Avenir Book;
                    font-size: 1em;
                    height: 1em;
                    margin-left: 0.4em;
                    margin-right: 0.4em;
                    text-decoration: none;
                }
            }
        }
    }
    
    //for post list
    .post-slider {
        width: 100%;
        height: 200px;
        
        .post_card {
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .slide-topic {
            .post_img {
                width: 100%;
                height: 60%;
                //background: #d91818;
            }
            .post_title {
                width: 100%;
                height: 25%;
            }
            .post_tag {
                width: 100%;
                height: 15%;
                //background: yellow;
            }
        }
    }
}