.picture{
        width: 100%;
        height: 200px;
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center center;
        //   background: url($image) bottom right;
        //   width: 100%;
        //   height: 100%;
          position: relative;
        //   background-size: 100% auto;
          overflow:hidden;
        .blurry-box{
           width: 120%;
           height: 50%;
        //   background: url($image) right 90em;
        
          opacity: 0.5;
          content: "";
          position: absolute;
          bottom: 0px;
          background-position: right 12em;
          -webkit-filter: blur(1em);
          
          -moz-filter: blur(1em);
          -o-filter: blur(1em);
          filter: url(#blur);
          background-size: 100% auto;
          box-sizing: border-box;
          -moz-box-sizng: border-box;
          -moz-box-sizing: border-box;        
        }
        
        .text{
          position: absolute;
          bottom: 3em;
          font: 50px ;
          font-weight: 600;
          text-align:center;
        //   color: $text-color;
          z-index: 10;
           
            
        }
}

div.jqi .jqititle {
    margin-bottom: 10px;
    background: #d91818;
    color: white;
}

div.jqi .jqiclose {
  color: white;
}

div.jqi .jqimessage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
  margin-bottom: 10px;
  font-size: 2em;
}

.arrow-next {
  background-image: url('/image/arrow_right.png');
  right: 5px;
  left: auto;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.arrow-prev {
  background-image: url('/image/arrow_left.png');
  left: 5px;
  right: auto;
  position: absolute;
  top: 50%;
  width: 48px;
  height: 48px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
}