//차트부분
//stats
.stats-slider {
  width: 98%;
  height: 120px;
}
.ct-label {
  fill: rgba(255,255,255,1);
  color: rgba(255,255,255,1);
  font-size: 1rem;
  font-weight: bold;
  line-height: 1;
}
.ct-series-a .ct-slice-pie {
  /* fill of the pie slieces */
  //fill: #F15F5F;
  fill: #B5B2FF;
  /* give your pie slices some outline or separate them visually by using the background color here */
  stroke: white;
  /* outline width */
  stroke-width: 2px;
  color: white;
}
.ct-series-b .ct-slice-pie {
  /* fill of the pie slieces */
  //fill: #B5B2FF;
  fill: #F15F5F;
  /* give your pie slices some outline or separate them visually by using the background color here */
  stroke: white;
  /* outline width */
  stroke-width: 2px;
}
//차트부분 끝

//link
.link-slider {
  width: 98%;
  height: 84px;
}