.picture{
        width: 100%;
        height: 200px;
        background-size:cover;
        background-repeat:no-repeat;
        background-position: center center;
        //   background: url($image) bottom right;
        //   width: 100%;
        //   height: 100%;
          position: relative;
        //   background-size: 100% auto;
          overflow:hidden;
        .blurry-box{
          width: 102%;
          height: 60px;
        //   background: url($image) right 90em;
        
          content: "";
          position: absolute;
          bottom: 0px;
          background-position: right 12em;
          -webkit-filter: blur(1em);
          // there is a hope for -moz-filter
          -moz-filter: blur(1em);
          -o-filter: blur(1em);
        //   filter: url(#blur);
          background-size: 100% auto;
          box-sizing: border-box;
          -moz-box-sizng: border-box;
          -moz-box-sizing: border-box;
          
          
         
          
        }
        .text{
          position: absolute;
          bottom: 3em;
          font: 50px ;
          font-weight: 600;
          text-align:center;
        //   color: $text-color;
          z-index: 10;
          left: 1em; 
            
        }
}