
<form action="/users/sign_in" method="post">
    <input type="text" name="user[email]">
    <input type="text" name="user[password]">
    <input type="submit" value ="제출">
</form>

<form action="/users" method="post">
    <input type="text" name="user[email]">
    <input type="text" name="user[password]">
    <input type="text" name="user[password_confirmation]">
    <input type="submit" value ="sign_up">
</form>
